{% extends 'ordersite/base.html' %}

{% load static %}

{% block title %} | Create Custom Pizza{% endblock title %}

{% block customcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}"/>
{% endblock customcss %}

{% block con %}
<div class="container" >
    <div class="row" >
        <div class="col-xs-6 col-xs-offset-3" style="margin-top:5%;">
            <form method="post">
                {% csrf_token %}
                <p style="padding-left: 13%">Name your Pizza : {{ form.name }}</p>
                </br>
                <div class="row">
                    {% for topping in form.toppings %}
                    <div class="col-xs-4" style="margin-bottom: 2%;margin-top:2%;">
                        <p>{{ topping }}</p>
                    </div>
                    {% endfor %}
                </div>
                </br>
                <button type="submit" class="btn btn-lg btn-danger center-block ">Create Pizza</button>
            </form>
        </div>
    </div>
</div>

{% endblock con %}
