{% extends 'ordersite/base.html' %}

{% load static %}

{% block title %} | Create Custom Pizza{% endblock title %}

{% block customcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}"/>
{% endblock customcss %}

{% block con %}
<form method="post" style="margin: 5% 30%;">
    {% csrf_token %}
    <p style="margin: 5px 19%;">Name : {{PF.name}}</p>
    {% for t in PF.toppings %}
        <p style="display:inline-block;width: 31%;margin:5px 5px;">
            {{ t }}
        </p>
        {% if forloop.counter|divisibleby:3 %}
            <br>
        {% endif %}
    {% endfor %}
    <br>

    <button style="margin: 5px 37%;" type="submit" formaction="{% url 'Custom' %}">Create Pizza</button>
</form>

{% endblock con %}
