{% extends 'ordersite/base.html' %}

{% load static %}

{% block customcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}"/>
{% endblock customcss %}

{% block con %}

{% if not user.is_authenticated %}
<p class="text-center"; style="font-size: larger">Please Login to Order.</p>
{% endif %}

{% if user.is_authenticated %}
<div class="container-fluid" style="position: fixed;width:100%;">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-2 text-center">
            <div class="row">
                <div class="col-xs-3 col-xs-offset-9">
                    <button class="hide-cart btn btn-success">SHOW/HIDE CART</button>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

{% endif %}


<div class="container-fluid" id="cart" style="position: fixed;width:100%;margin-top:1.5%;">
{% if request.session.cart.base or request.session.cart.custom %}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-2">
            <div class="row">
            <div class="col-xs-3 col-xs-offset-9 cart" style="margin-right: 0.2%;border:solid; border-color:black;background-color: #2e6da4;color:white;">
                <p class="text-center">CART</p>
                <br>
                <ul>
                    {% for item in request.session.cart.base %}
                    <li style="clear: both;">
                        <p style="float:left;">{{item.0}}</p>
                        <span style="float:right;">{{item.1}}</span>
                    </li>
                    {% endfor %}
                    <br><p class="text-right">-----------<br>{{ request.session.total }}</p><br>
                </ul>

                {% if request.session.cart.custom %}
                <p class="text-center">CUSTOM</p>
                <ul>
                    {% for item in request.session.cart.custom %}
                    <br>
                    <li style="clear: both;">
                        <p style="float:left;">{{item.0}}</p>
                        <span style="float:right;">{{item.1}}</span>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <a href="{% url 'Order' %}" class="btn btn-warning center-block">Place Order</a>
                <!--<button type="button" class="btn btn-warning center-block text-center">Place Order</button>-->
                <!--</a>-->
            </div>
            </div>
        </div>
    </div>
{% endif %}
</div>



<div class="container" style="margin-top:5%;margin-bottom:5%;">
    <div class="row">
        <div class="col-xs-10">
            <h2 class="text-center" style="font-size:2.5em;">MENU</h2>
            </br>
            <div class="row">
                {% for pizza in pizza_qs %}
                <div class="col-xs-4 text-center">
                    <img class="center-block" src="{% static pizza.getimageurl %}">
                    </br><h5>{{ pizza.name }}</h5>
                    </br>
                    <ul>
                        {% for topping in pizza.toppings.all %}
                        <li>{{ topping.name }}</li>
                        {% endfor %}
                        <li>Price: Rs. {{pizza.cost}}</li>
                    </ul>
                    <button type="button" class="btn btn-danger" id="{{pizza.name}}_{{pizza.cost}}">Add to cart</button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock con %}



{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        $('.btn-danger').click(function(){
            var pizza = this.id;
            $.ajax({
                type : 'GET',
                url: "{% url 'AddToCart' %}",
                data: {
                    'pizza' : pizza,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }
            }).done(function(data){
                $('#cart').load(location.href + ' #cart');
            });
        });

    });

    $(document).ready(function () {
        $('.hide-cart').click(function(){
            $('.cart').toggle(400);
        });
    });

</script>

{% endblock js %}

