{% extends 'ordersite/base.html' %}

{% load static %}

{% block customcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}"/>
{% endblock customcss %}

{% block con %}
    <div class="container-fluid margin-adjust">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h2 class="text-center">MENU</h2>
                </br>
                <div class="row ">
                    {% for pizza in pizza_qs %}
                    <div class="col-xs-4 text-center">
                    <a href="{% url 'Pizzaorder' pizza.name %}">
                        <img class="center-block" src="{% static pizza.getimageurl %}">
                        </br>
                        <h5>{{ pizza.name }}</h5>
                        </br>
                        <ul>
                            {% for topping in pizza.toppings.all %}
                            <li>{{ topping.name }}</li>
                            {% endfor %}
                            <li>Price: Rs. {{pizza.cost}}</li>
                        </ul>
                    </a>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>


{% endblock con %}
