{% extends 'ordersite/base.html' %}

{% load static %}

{% block title %} | Order Placed{% endblock title %}


{% block customcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}"/>
{% endblock customcss %}


{% block con %}
<div class="container" style="margin-bottom: 50px;">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <h1 class="text-center">Your order has been placed!</h1>
        </div>
    </div>
</div>

<!--CART-->
{% if request.session.cart.base or request.session.cart.custom %}
<div class="container-fluid" id="cart">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <table class="table table-hover" style="border:solid;border-color: darkblue;">
                <tr class="info" style="border-bottom:solid darkblue;">
                    <th class="text-center"> Pizza</th>
                    <th classs="text-center">Quantity</th>
                    <th class="text-center">Cost</th>
                </tr>
                {% if request.session.cart.base %}
                {% for id, pizza in request.session.cart.base.items %}
                <tr class="text-center {% if pizza.veg %}success{% else %}danger{% endif %}">
                    <td>{{pizza.name}}</td>
                    <td>{{pizza.count}}</td>
                    <td>{{pizza.cost}}</td>
                </tr>
                {% endfor %}
                {% endif %}
                {% if request.session.cart.custom.items %}
                {% for id,pizza in request.session.cart.custom.items %}
                <tr class="text-center {% if pizza.veg %}success{% else %}danger{% endif %}">
                    <td>{{pizza.name}}</td>
                    <td>{{pizza.count}}</td>
                    <td>{{pizza.cost}}</td>
                </tr>
                {% endfor %}
                {% endif %}
                <tr class="info text-center" style="border-top: solid darkblue;">
                    <td>TOTAL</td>
                    <td></td>
                    <td>{{request.session.cart.total}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}