{% extends 'ordersite/base.html' %}

{% load static %}

{% block title %} | Order Placed{% endblock title %}


{% block customcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}"/>
{% endblock customcss %}


{% block con %}
<div class="text" style="font-size: 20px; text-align: center">
            Congratulaions!<br>
    Your order has been successfully placed.
</div>
<div class="pizza" style="display: block;margin:2% auto; ">
    <img src="{% static pizza.getimageurl %}"/>
    <p>{{ pizza.name }}</p>
    {% for topping in pizza.toppings.all %}
    <p>{{ topping.name }}</p>
    {% endfor %}
    <p>Price: Rs.{{ pizza.cost }}</p>
</div>
{% endblock %}