{% extends 'ordersite/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} | Register {% endblock title %}

{% block customcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}"/>
{% endblock customcss %}

{% block con %}

{% if user.is_authenticated %}
<div class = "container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 text-center" style="font-size: 2em;">
            <p>You are already logged in as {{ user.username }}.</p>
            <p>Logout if you want to register/login as another user.</p>
        </div>
    </div>
</div>
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4 text-center">
            <form method="post">
                {% csrf_token %}
                <legend><strong>REGISTER</strong></legend>
                <hr>
                {{form | crispy}}
                <button type="submit" class="btn btn-primary center-block">Register</button>
            </form>
        </div>
    </div>
</div>

{% endblock con %}